# Ignore virtual environment folders
venv/
venv_fix/
.env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Environment-specific config
.env
